In [1]:
import pandas as pd

In [7]:
data = pd.read_csv('/content/TLKM.JK (1).csv')

In [10]:
data.tail()

           Date    Open    High     Low   Close  Adj Close     Volume
240  2022-09-13  4540.0  4560.0  4520.0  4520.0     4520.0   91510200
241  2022-09-14  4490.0  4530.0  4460.0  4480.0     4480.0   97919200
242  2022-09-15  4540.0  4600.0  4500.0  4500.0     4500.0  125599900
243  2022-09-16  4500.0  4500.0  4410.0  4410.0     4410.0  210277300
244  2022-09-19  4460.0  4530.0  4440.0  4530.0     4530.0   47514900

In [13]:
data.shape

(245, 7)